* {
    font-family: Helvetica, Arial, sans-serif;
}
body {
    margin: 0;
    background-color: rgb(247, 247, 247);
}

h2 {
    margin: 15px 0 15px 0;
    text-align: center;
}

hr {
    margin-top: 20px;
    width: 80%;
}

nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 50px;
    background-color: white;
}

nav div {
    margin: 60px;
}

nav .kiri {
    font-size: 13px;
}

nav .title {
    font-weight: 400px;
    letter-spacing: 4px;
}

nav .kanan a {
    font-weight: 700;
    color: black;
    text-decoration: none;
}

nav .kanan a:hover {
    color: rgb(255, 72, 0);
}

input[type=text],
input[type=password],
input[type=email],
select,
textarea {
    width: 98%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    color: rgb(255, 72, 0);
}

.container {
    z-index: 6;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}


/* Show Eye Password */
.col-75{
    position: relative;
}
.col-75 i {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-25px, 12px);
    color: #999;
    cursor: pointer;
}
.col-75 i.active {
    color: rgb(255, 72, 0);
}
/* End css Of show eye password */
.row {
    margin: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.sidebar button {
    width: 250px;
    border: none;
    flex-direction: column;
    height: auto;
    color: black;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 17px 28px 2px rgba(0, 0, 0, 0.19);
}
.sidebar a button:hover {
    color: rgb(255, 72, 0);
}

.sidebar a button i {
    padding: 10px;
}

.sidebar a button {
    text-align: left;
    box-sizing: border-box;
    display: inline-block;
    letter-spacing: 3px;
    font-weight: 530;
    margin: 30px 30px;
    text-decoration: none;
    color: black;
}

table {
    width: 100%;
    border: 1px solid #ddd;
    padding: 8px;
}

button,input:focus{
    outline: 0;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #202020;
    color: white;
}

td:last-child a {
    text-decoration: none;
    color: black;
    text-decoration: none;
}

table tr td:nth-child(1) {
    text-align: center;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit],
    input[type=password] {
        width: 100%;
        margin-top: 0;
    }
    
    .sidebar{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .title{
        display: none;
    }
}